.booking-area {
	position:relative;
}
.booking-area-rooms {
	position:absolute;
	left:0;
	top:0;
	width:200px;
	background:#f00;
}
.booking-area-rooms div.room {
	height:31px;
	line-height:30px;
	overflow:hidden;
	padding:0 15px;
	font-weight:400;
}
.empty-header {
	height:90px;
}
.booking-area-months {
	position:relative;
	padding-left:200px;
}
.booking-header {
	line-height:30px;
	background:#000;
	text-align:center;
	font-weight:400;
	color:#fff;
}
.room-line .avaibility,
.booking-header .day {
	width:40px;
	float:left;
}
.room-line {
	height:31px;
	line-height:30px;
}
.room-line .avaibility {
	text-align:center;
	background:#fff;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
	position:relative;
}
.reserved-block {
	background:#aa2d02;
	height:30px;
	position:absolute;
	left:40px;
	top:0;
	z-index:99;
	cursor:pointer;
}
.reserved-start:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 30px 38px;
	border-color: transparent transparent #aa2d02 transparent;
	position:absolute;
	left:-38px;
	content:'';
}
.reserved-end:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 38px 0 0;
	border-color: #aa2d02 transparent transparent transparent;
	position:absolute;
	right:-38px;
	content:'';
}