@media only screen and (max-width: 1060px) {
	.container {
		width:100%;
		padding:0 20px;
	}
}

@media only screen and (max-width: 800px)  {
	.top-contact {
		display:block;
		color:#fff;
		line-height:35px;
		font-size:12px;
	}
	.top-contact-left {
		float:left;
	}
	.top-contact-right {
		float:right;
	}
	.top-contact a:link,
	.top-contact a:visited,
	.top-contact a:hover {
		color:#fff;
	}
	header {
		position:fixed;
		z-index:99;
		top:0;
		left:0;
		width:100%;
	}
	#search-property {
		position:fixed;
		display:none !important;
		background:#fff;
		z-index:9999;
		top:10px;
		left:10px;
		right:10px;
		bottom:10px;
		border:1px solid #fff;
		padding:0;
	}
	.header-top {
		z-index:10000;
		height:100px;
	}
	.header-bottom .search-shadow a#show-search:link,
	.header-bottom .search-shadow a#show-search:visited,
	.header-bottom .search-shadow a#show-search:hover {
		font-size:28px;
	}
	h3.title-lead {
		font-size:32px;
		margin:30px 0;
		line-height:40px;
	}
	h3.title-lead:before,
	h3.title-lead span:after {
		display:none;
	}
	.header-bottom .search-shadow,
	.header.header-close .header-bottom,
	.header-bottom {
		z-index:1000;
		height:70px;
	}
	.header-bottom .container {
		margin:0;
		padding:0;
	}
	header a.offer, header a.offer:link, header a.offer:visited, header a.offer:hover {
		display:none;
	}
	.top .navbar-header {
		display:none;
	}
	header {
		text-align:center;
	}
	header div.header-contact-links {
		display:none;
	}
	.logo {
		position:relative;
		left:auto;
		top:auto;
		margin:18px 0 0 0;
		height:65px;
	}
}